@import './global.scss';


.exp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $primary-font; 
    padding: 1em 0em;
    gap: 3em;
    overflow-y: scroll;

    .container{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row-reverse;
        gap: 1.5em;
        padding: 2em 2em;
        height: 100%;
        
        .line{
            height: 100%;
            width: 2px;
            background-color: $white;
            position: relative;
            z-index: 5;
            &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 15px;
            background-color: $primary-color;
            border-radius: 50%;
            }
        }
        .card{
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3em;

            .item{
                position: relative;
                animation: fadeIn .7s ease;
                .dot{
                    position: absolute;
                    top: 0;
                    left: -1.95em;
                    width: 15px;
                    height: 15px;
                    background-color: $primary-color;
                    border-radius: 50%;
                    z-index: 10;
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    transform: translateY(-5px);
                    .row1{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        gap: 1em;
                        .desig{
                            font-size: 1.2rem;
                            color: $primary-color;
                            font-weight: 800;
                        }
                        .date{
                            font-size: 1rem;
                            color: $half-white;
                            font-weight: 400;
                        }
                    }
                    .company{
                        font-size: 1rem;
                        font-weight: 600;
                        color: rgb(255,255,255,0.75);
                    }
                    .skills-needed{
                        font-size: 1rem;
                        color: rgb(255,255,255,0.75);
                        font-weight: 400;
                        width: 500px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .exp{
        .container{
            padding: 4em 2em;
            .card{
                .item .details .skills-needed{
                    width: auto;
                }
                .date{
                    display: none;
                }
            }
            .last-dot{
                bottom: calc(0vh - 15em);        
            }
        }
    }
}