@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Colors
$nav-bg: #0F0F0F;
$grad-bg: linear-gradient(110deg, rgba(5, 6, 12, 0.88) -23.03%, #05060C 100%);
$white: #ffffff;
$text-white: #C7BEBE;
$half-white: rgba(255, 255, 255, 0.5);
$quarter-white: rgba(255, 255, 255, 0.5);
$half-black: rgba(0, 0, 0, 0.75);
$teal: #87A2AD;
$primary-color: #0077C0;


// Fonts
$primary-font: Poppins;
$cursive-font: Gwendolyn;

// Shadows
$photo-shadow:  5px 5px 4px #0f0f0f,
                -5px -5px 4px #1f1f1f;
$nav-li-sh: 2px 2px 0px #0b0b0b,
            -2px -2px 0px #131313;

// Defaults
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
  }
   
  
body{
    overflow-x: hidden;
    #root{
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        // scroll-padding: 10px;
    }
    section{
        scroll-snap-align: start;
        float: right;
        height: 100vh;
        width: 100vw;
        background: $grad-bg;
        position: relative;
        top: 0;
        left: 0;
        a{
            cursor: pointer;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 1200px){
    body{
        section{
            width: calc(100vw - 17.18em);
        }
    }
}
@media only screen and (max-width: 1200px){
    body{
        background: $primary-color;
        section{
            width: 100vw;
        }
    }
}
